* {
    outline: 1px solid red;
}

body {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    color: beige;
    height: 300vh;
}







main {
    background: teal;
    width: 70%;
    margin: 100px auto 0 auto;
    height: 100vh;
    position: relative;
    /* z-index: -1; */
}

main div {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.static {
    background: red;
}

.relative {
    position: relative;
    background: green;
    top: 150px;
    right: 50px;
}

.absolute {
    background: yellow;
    color: black;
    position: absolute;
    top: 250px;
    left: 0;
}

.fixed {
    background: blue;
    border-radius: 50px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.sticky {
    position: sticky;
    background: purple;
    top: 10px;
}


nav {
    color: black;
    background: orchid;
    position: sticky;
    top: 0;
    /* z-index: 1; */
}

ul {
    padding: 0;
    margin: 0;
}


ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}